# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Create Env - Run Tests - Deploy EBS & ECR

on:
  push:
    branches:
      - master
      - qa
  pull_request:
    branches: [master]
  release:
    types: [published]
  workflow_dispatch:

# Files in asv_bench/data are stored in Git LFS and should avoid checkout in CI
# Helps to reduce Git LFS Bandwidth
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - name: Save tag name to GH var
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "TAG=$(echo "${{ github.ref }}" | cut -d/ -f 3)" >> $GITHUB_ENV

      - name: Save branch name to GH var
        run: |
          echo "BRANCH_NAME={{ github.event.pull_request.head.ref }}" >> $GITHUB_ENV

      - name: Replace Empty branch name with master
        run: |
          if [ -z "${{ env.BRANCH_NAME }}" ];
          then echo "BRANCH_NAME=\"master\"" >> $GITHUB_ENV;
          fi

      - name: echo branch
        run: |
          echo "{\"commit\": \"${{ github.event.pull_request.head.sha }}\", \"branch_name\": \"${{ env.BRANCH_NAME }}\", \"tag_name\": \"${{ env.TAG }}\"}"
