# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Create Env - Run Tests - Deploy EBS & ECR

on:
  push:
    branches:
      - master
      - qa
  pull_request:
    branches: [master]
  release:
    types: [published]
  workflow_dispatch:

# Files in asv_bench/data are stored in Git LFS and should avoid checkout in CI
# Helps to reduce Git LFS Bandwidth
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - name: Trigger Performance Test for a tag
        env:
          GH_BRANCH: ${{ github.ref }}
        run: |
          echo "TAG=$(echo "${TAG_GH}" | cut -d/ -f 3)" >> $GITHUB_ENV

      - name: echo branch
        run :
          echo {{ env.TAG }}